<div class="header" style="margin-top: -8px;">
    <div class="container-fluid mt-2 ps-5">
        <div class="row">
            <div class="col-2">
               <button onclick="giperalert()" style="height: 60px; width: 130px; border: none;"><img src="assets/logo.png" style="height: 60px; width: 130px;"></button>
            </div>
            <div class="col-2 offset-md-7"
                style="background: white;  border-top-style: none; border-radius: 0px 0px 10px 10px; height: 50px; text-align: center; box-shadow: 0 0 10px rgba(0,0,0,0.2); height: 60px;">
                <p id="notification">Уведомления</p>
                <button id="notification-full"><img src="assets/down-arrow.png" style=" height: 16px; width: 16px;"></button>
            </div>
            <div class="col-1" style="text-align: center;">
                <button id="logout" type="button">Выйти</button>
            </div>
        </div>
    </div>
</div>

<div class="article">
    <h1 class="title">Панель управления</h1>
    <div class="cards">
        <div class="support">
            <a href="/"><img id="support-img" src="assets/support.png"></a>
            <div class="line"></div>
            <a href="/"><p>Техническая поддержка</p></a>
        </div>
        <div class="equipment">
            <a href="/"><img id="equipment-img" src="assets/equipment.png"></a>
            <div class="line"></div>
            <a href="/"><p>Оборудование</p></a>
        </div>
        <div class="settings">
            <a href="/"><img id="settings-img" src="assets/settings.png"></a>
            <div class="line"></div>
            <a href="/"><p>Настройки</p></a>
        </div>
    </div>
</div>

